{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Draw many cards</h1>

<p>You drew {{ num_cards }} cards. Here is the value of the cards.</p>

<div class="cardBody">
    <ul>
        {% for draw in cardDraw %}
            <div class="carddiv">
                {{ draw }}
            </div>
        {% endfor %}
    </ul>
</div>

<p>Total cards left in deck: {{ remainingCards }}</p>

<p>Try to draw 
    <a href="{{ path('test_draw_num_cards', {num: 5}) }}">5</a>
    or 
    <a href="{{ path('test_draw_num_cards', {num: 10}) }}">10</a>
    cards.
</p>
{% endblock %}