{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{# ändrade mitt namn till body för hade ej main,
när kollade i min base.html.twig fil som namnet! #}
{# {% block main %} #}
{% block body %}
<h1>Card game</h1>

{{ include('flash.html.twig') }}

    <form action="{{ path('card_deck_reset') }}" method="post">
        <button type="submit">Reset the deck</button>
    </form>


                <div class="info">
                    <p>Länkar till card routerna:</p>

                    <li><a href="{{ path('test_draw_card') }}">Draw <strong>one</strong> card</a></li>
                    <li><a href="{{ path('test_draw_num_cards', {num: 5}) }}">Draw <strong>multiple</strong> cards</a></li>
                    <li><a href="{{ path('card_deck') }}">Draw <strong>all </strong> cards</a></li>
                    <li><a href="{{ path('card_deck_shuffle') }}">Draw <strong>all shuffled</strong> cards </a></li>
                    <li><a href="{{ path('card_init_get') }}">init routen</a></li>
                </div>

<p class="subheading">
    Klasserna jag har plus strukturen för mina klasser:
</p>

{# <div class="classTitles"> #}
<div>
    <p class="classTitles">Card</p>

    <p class="classText">
        Klassen Card är basklassen och representerar ett enskilt spelkortkort
        med färg och värde. Detta är grunden till spelet,
        används utav flera andra klasser.
    </p>
</div>


<div>
    <p class="classTitles">CardGraphic</p>

    <p class="classText">
        Klassen CardGraphic lägger till en visuell
        representation av korten, med hjälp av
        UTF-8 symboler.
        Denna klassen utökar från  klassen Card.
    </p>
</div>

<div>
    <p class="classTitles">CardHand</p>

    <p class="classText">
        Klassen CardHand representerar spelarens hand,
        Den innehåller flera Card objekt som spelaren "dragit".
        Den hanterar t.ex tillägg och visning av kort.
    </p>
</div>


    


<div>
    <p class="classTitles">DeckofCards</p>

    <p class="classText">
        Klassen DeckofCards innehåller hela kortleken,
        innehållande flera Card-objekt. Den ansvarar bl.a 
        att blanda och dra kortleken.
    </p>
</div>



<div>
    <p class="classTitles">CardGameController</p>

    <p class="classText">
        Klassen CardGameController är en Controller i
        Symfony sm hanterar webb routerna. Den använder sig
        bl.a av DeckofCards och CardHand och andra klasser för
        att hantera logiken och skicka datan till olika vyerna 
        (twig-filerna).
    </p>
</div>




<p class="subheading">
    UML-diagram:
</p>

<div class="umldiv">
    <p>UML KLASS DIAGRAM LÄGGS IN HÄR!</p>
</div>

{% endblock %}