{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{# ändrade mitt namn till body för hade ej main,
när kollade i min base.html.twig fil som namnet! #}
{# {% block main %} #}
{% block body %}
    <h1>Sessions inmehåll</h1>

    {{ include('flash.html.twig') }}


    <h2>Sessions Data: </h2>
    {# <ul> #}
        {# {% for key, value in sessionData %}
            <li>{{ key }}: {{ value }}</li>
        {% else %}
            <li>No session data found.</li>
        {% endfor %}
    </ul> #}


    <pre>
        {{ dump(sessionData) }}
    </pre>

{# komma åt deck/deck #}
    {# <div>
        {% for key, value in sessionData %}
            <strong>{{ key }}:</strong> {{ value }}<br>
        {% endfor %}
    </div> #}
{% endblock %}

