{% extends "base.html.twig" %}

{% block title %}API{% endblock %}



{% block body %}
                <h1>API</h1>
                <div class="info">
                    <p>Länkar till routerna:</p>

                    <li><a href="{{ path('apiHome') }}">API (denna routen)</a></li>
                    <li><a href="{{ path('quote') }}">Quote routen</a></li>
                    <li><a href="{{ path('numbers') }}">Lucky numbers routen</a></li>
                </div>

                <div class="info">
                    <p>Länkar för kmom02:</p>

                    <li><a href="{{ path('api_deck') }}">API deck, <strong>all</strong> cards</a></li>
                    <li><a href="{{ path('api_deck_shuffle') }}">API deck, <strong>all shuffled</strong> cards</a></li>
                </div>
{% endblock %}
